<div ng-controller="userController as ctrl">
	<section class="content-header">
		<h1>
			Dashboard <small>Control panel</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Gestion des utilisateurs</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="col-md-12">
			<div class="row">
				<!-- Horizontal Form -->
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">les liste des utilisateurs</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->
					<form class="form-horizontal">
						<div class="box-body">

							<div class="form-group">
								<label for="inputPassword3" class="col-sm-2 control-label">First
									name</label>

								<div class="col-sm-10">
									<input type="text" ng-model="ctrl.user.firstName"
										class="form-control" id="inputPassword3"
										placeholder="First name">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-2 control-label">Last
									name</label>

								<div class="col-sm-10">
									<input type="text" class="form-control"
										ng-model="ctrl.user.lastName" id="inputPassword3"
										placeholder="Last Name">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2  control-label">Email</label>

								<div class="col-sm-10">
									<input type="email" class="form-control"
										ng-model="ctrl.user.email" id="inputEmail3"
										placeholder="Email">
								</div>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button ng-click="ctrl.reset()" class="btn btn-default">Annuler</button>
							<button class="btn btn-info pull-right" ng-click="ctrl.add()">Valider</button>
						</div>
						<!-- /.box-footer -->
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Responsive Hover Table</h3>

						<div class="box-tools">
							<div class="input-group input-group-sm" style="width: 150px;">
								<input type="text" name="table_search"
									class="form-control pull-right" placeholder="Search">

								<div class="input-group-btn">
									<button type="submit" class="btn btn-default">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th>Ref</th>
								<th>First name</th>
								<th>Last name</th>
								<th>Email</th>

							</tr>
							<tr ng-repeat="u in users">
								<td>{u.id}</td>
								<td>{u.firstName}</td>
								<td>{u.lastName}</td>
								<td>{u.email}</td>
							</tr>


						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
		</div>
	</section>
</div>